@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url("../public/img/mainhall.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* people png Animaiton CSS */
@keyframes slowMoveX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* 이동할 거리를 조정하세요 */
  }
  100% {
    transform: translateX(0); /* 이동할 거리를 조정하세요 */
  }
}

@keyframes slowMoveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* 이동할 거리를 조정하세요 */
  }
  100% {
    transform: translateY(0); /* 이동할 거리를 조정하세요 */
  }
}

.slow-motionX-box {
  width: 50px;
  height: 50px;
  background-color: blue;
  animation: slowMoveX 3.8s ease-in-out infinite; /* 애니메이션 속성 설정 */
}

.slow-motionY-box {
  width: 50px;
  height: 50px;
  background-color: red;
  animation: slowMoveY 3.5s ease-in-out infinite; /* 애니메이션 속성 설정 */
}

@media (orientation: portrait) {
  /* 기본 설정 */
  html {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vh;
    height: 100vw;
    /* overflow: hidden; */
    overflow-y: auto;
  }
  .App {
    width: 100vh;
    height: 100vw;
    position: relative;
    /* overflow: hidden; */
    overflow-y: auto;
    width: 100%;
  }
  .overflowHidden {
    overflow: hidden !important;
  }
  .App-header {
    min-height: 100%;
  }
  /* 챗봇 */
  .rsc > div {
    width: 350px !important;
  }
}

@media (orientation: landscape) {
  /* Landscape 모드일 때 적용할 CSS */

  /* html {
    overflow: hidden;
  } */
}
